/* CSS RESET */

* {
  margin: 0;
  padding: 0;
}

/* GLOBAL */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

/* VARIABLES */
:root {
  --COLOR-1: #ad8b73;
  --COLOR-2: #ceab93;
  --COLOR-3: #e3caa5;
  --COLOR-4: #fffbe9;
}

/* HEADER */

.header {
  background-color: var(--COLOR-2);
  height: 64px;
}

.header div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cookie";
  font-size: 2rem;
}

.header nav {
  width: 32px;
  height: 32px;
  position: relative;
}

/* MENU HAMBURGUER */

.header ul {
  transition: all 0.3s;
}

.header li a {
  opacity: 0;
  font-family: "Merriweather";
}

.header ul::before,
.header li:first-child::after,
.header li:first-child::before {
  content: "";
  transition: all 0.3s;
  background-color: #000;
  width: 32px;
  height: 2px;
  position: absolute;
  right: 0;
}

.header ul::before {
  top: 6px;
}

.header li:first-child::before {
  top: 14px;
}

.header li:first-child::after {
  top: 22px;
}

/* ACTIVE MENU HAMBURGUER */

.header .active ul {
  background-color: var(--COLOR-4);
  margin-top: 48px;
  width: 120px;
  display: grid;
  justify-content: center;
  transition: all 0.3s;
  position: absolute;
  right: 0px;
}

.header .active ul li {
  background-color: rgba(0, 0, 0, 0);
  height: 32px;
  padding-top: 12px;
}

.header .active ul::before {
  width: 0;
}

.header .active li:first-child::after {
  transition: all 0.3s;
  rotate: 45deg;
  background-color: var(--COLOR-4);
  top: -36px;
  width: 40px;
  height: 4px;
}

.header .active li:first-child::before {
  rotate: -45deg;
  width: 40px;
  top: -36px;
  height: 4px;
  background-color: var(--COLOR-4);
}

.header .active li a {
  opacity: 1;
  transition: all 0.3s;
  position: relative;
}

.header .active li a::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  left: 0;
  background-color: #b99;
  bottom: -8px;
}

.header .active li:last-child a::after {
  height: 0;
}

.header .active li a:hover {
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
