/* CSS RESET */

* {
  margin: 0;
  padding: 0;
}

/* GLOBAL */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

/* VARIABLES */
:root {
  --COLOR-1: #ad8b73;
  --COLOR-2: #ceab93;
  --COLOR-3: #e3caa5;
  --COLOR-4: #fffbe9;
}

/* HEADER */

.header {
  background-color: var(--COLOR-2);
  height: 64px;
}

.header div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cookie";
  font-size: 2rem;
}

.header nav {
  width: 32px;
  height: 32px;
  position: relative;
}

/* MENU HAMBURGUER */

.header li a {
  position: absolute;
  right: 10000px;
}

.header li:first-child,
.header li:first-child::after,
.header li:first-child::before {
  content: "";
  transition: all 0.3s;
  background-color: #000;
  width: 32px;
  height: 2px;
  position: absolute;
  right: 0;
}

.header li:first-child {
  top: 6px;
}

.header li:first-child::before {
  top: 8px;
}

.header li:first-child::after {
  top: 16px;
}

/* ACTIVE MENU HAMBURGUER */

.header .active li:first-child {
  transition: all 0.3s;
  transform: rotate(45deg);
  background-color: var(--COLOR-4);
  top: 14px;
  width: 40px;
  height: 4px;
  right: 0;
}

.header .active li::after {
  transform: rotate(-90deg);
  width: 40px;
  top: 0px;
  height: 4px;
  background-color: var(--COLOR-4);
}

.header .active li::before {
  width: 0;
}
