/* CSS RESET */

* {
  margin: 0;
  padding: 0;
}

/* GLOBAL */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

/* VARIABLES */
:root {
  --COLOR-1: #ad8b73;
  --COLOR-2: #ceab93;
  --COLOR-3: #e3caa5;
  --COLOR-4: #fffbe9;
}

/* HEADER */

.header {
  background-color: var(--COLOR-2);
  height: 64px;
}

.header div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cookie";
  font-size: 2rem;
}

.header ul {
  position: relative;
  display: flex;
}
