/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
}

/* GLOBAL */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

label,
button {
  display: block;
}

input,
textarea {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--GRAY-3);
  font-weight: 400;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

/* SLIDES */

[data-slide] {
  opacity: 0;
}

[data-slide="down"].active {
  animation: slideTop 0.3s;
  opacity: 1;
}
[data-slide="right"].active {
  animation: slideRight 0.3s;
  opacity: 1;
}
[data-slide="left"].active {
  animation: slideLeft 0.3s;
  opacity: 1;
}
[data-slide="down"].active {
  animation: slideDown 0.3s;
  opacity: 1;
}

/* ANIMATIONS */

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(45px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* VARIABLES */
:root {
  --COLOR-1: #ad8b73;
  --COLOR-2: #ceab93;
  --COLOR-3: #e3caa5;
  --COLOR-4: #fffbe9;
  --GRAY-1: #ebe9e4;
  --GRAY-2: #b8b7b2;
  --GRAY-3: #999894;
  --GRAY-4: #73726f;
  --GRAY-5: #4d4c4a;
  --GRAY-6: #333331;
}

/* HEADER */

.header {
  background-color: var(--COLOR-2);
  height: 64px;
}

.header div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cookie";
  font-size: 2rem;
}

.header nav {
  height: 32px;
  position: relative;
}

/* MENU HAMBURGUER */

.header ul {
  transition: all 0.3s;
}

.header li a {
  opacity: 0;
}

.header ul::before,
.header li:first-child::after,
.header li:first-child::before {
  content: "";
  transition: all 0.3s;
  background-color: #000;
  width: 32px;
  height: 2px;
  position: absolute;
  right: 0;
}

.header ul::before {
  top: 6px;
}

.header li:first-child::before {
  top: 14px;
}

.header li:first-child::after {
  top: 22px;
}

/* ACTIVE MENU HAMBURGUER */

.header .active ul {
  background-color: var(--COLOR-4);
  margin-top: 48px;
  width: 120px;
  display: grid;
  justify-content: center;
  transition: all 0.3s;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.header .active ul li {
  background-color: rgba(0, 0, 0, 0);
  height: 32px;
  padding-top: 12px;
}

.header .active ul::before {
  width: 0;
}

.header .active li:first-child::after {
  transition: all 0.3s;
  rotate: 45deg;
  background-color: var(--COLOR-4);
  top: -36px;
  width: 40px;
  height: 4px;
}

.header .active li:first-child::before {
  rotate: -45deg;
  width: 40px;
  top: -36px;
  height: 4px;
  background-color: var(--COLOR-4);
}

.header .active li a {
  opacity: 1;
  transition: all 0.3s;
  position: relative;
}

.header .active li a::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  left: 0;
  background-color: #b99;
  bottom: -8px;
}

.header .active li:last-child a::after {
  height: 0;
}

.header .active li a:hover {
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

/* INTRO */

.intro {
  position: relative;
}

.intro-img-container {
  display: flex;
  overflow: hidden;
}

.intro-img {
  height: 500px;
  min-width: 100vw;
  object-fit: cover;
  filter: brightness(45%);
  position: relative;
  left: 0;
}

.intro-text {
  position: absolute;
  text-align: center;
  top: 23%;
  left: 10%;
  width: 80%;
}

.intro-text h1 {
  font-family: "Cookie";
  font-size: 4rem;
  color: var(--COLOR-4);
}

.intro-text p {
  color: var(--GRAY-2);
  font-size: 1.33rem;
  margin-top: 1rem;
}

.intro-text a {
  background-color: var(--COLOR-2);
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 4px 4px 0px var(--COLOR-3);
  border: 4px solid var(--COLOR-3);
}

.intro-text a:hover,
.intro-text a:focus {
  transition: all 0.3s;
  font-weight: 800;
  box-shadow: 8px 8px 0 var(--COLOR-3);
}

/* ABOUT */

.about {
  margin-top: 32px;
}

.about-text {
  display: grid;
  justify-content: center;
  text-align: center;
}

.about-text h2 {
  font-size: 2rem;
  color: var(--COLOR-1);
}

.about-text p {
  font-size: 1.25rem;
  margin-top: 20px;
  max-width: 48ch;
  color: var(--GRAY-5);
}

.about-MVV {
  margin-top: 32px;
  text-align: center;
  display: grid;
  gap: 64px;
}

.about-card {
  background-color: var(--COLOR-4);
  border-radius: 1rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
  position: relative;
  border: 4px solid var(--COLOR-3);
  box-shadow: 8px 8px 0 var(--COLOR-1);
  transition: 0.3s all;
}

.about-card:hover {
  box-shadow: 12px 12px 0 var(--COLOR-1);
  transition: 0.3s all;
}

.about-MVV h3 {
  color: var(--GRAY-6);
  font-size: 1.75rem;
}

.about-MVV p {
  color: var(--GRAY-5);
  margin-top: 12px;
  font-size: 1.1rem;
  line-height: 1.3;
}

/* SECOND CARD */

.about-card:nth-child(2) {
  background-color: var(--COLOR-1);
  border-color: var(--COLOR-2);
  box-shadow: 8px 8px var(--COLOR-3);
}

.about-card:nth-child(2):hover {
  box-shadow: 12px 12px var(--COLOR-3);
}

.about-card:nth-child(2) h3 {
  color: white;
}

.about-card:nth-child(2) p {
  color: var(--COLOR-4);
}

/* BEFORE CARD */

.about-card + .about-card::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: 10%;
  background-color: var(--GRAY-1);
  top: -32px;
}

/* PRODUCTS */

.products {
  background-color: var(--COLOR-2);
  margin-top: 64px;
  padding: 32px 0;
}

.product-text h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--GRAY-5);
}

.product-text p {
  margin-top: 1rem;
  color: var(--GRAY-6);
  text-align: center;
  font-size: 1.1rem;
}

.product-card {
  margin-top: 2rem;
  border-radius: 16px;
  padding: 1rem 1.5rem;
  position: relative;
  transition: all 0.3s;
  box-shadow: 4px 4px var(--COLOR-1);
  border: 4px solid var(--COLOR-1);
  background-color: var(--COLOR-4);
}

.product-card:hover {
  transition: all 0.3s;
  box-shadow: 8px 8px var(--COLOR-1);
}

.product-card h3 {
  font-size: 1.75rem;
  color: var(--GRAY-6);
}

.product-card p {
  font-size: 1.1rem;
  margin-top: 1rem;
  color: var(--GRAY-5);
}

.product-card img {
  display: none;
}

/* EVEN CARDS */

.product-card:nth-child(even) {
  box-shadow: 4px 4px var(--COLOR-4);
  border: 4px solid var(--COLOR-4);
  background-color: var(--COLOR-1);
}

.product-card:nth-child(even) h3 {
  font-size: 1.75rem;
  color: #fff;
}

.product-card:nth-child(even) p {
  font-size: 1.1rem;
  margin-top: 1rem;
  color: var(--COLOR-4);
}

.product-card:nth-child(even):hover {
  box-shadow: 8px 8px var(--COLOR-4);
}

/* DIFFERENCES */

.differences {
  margin-top: 32px;
  display: grid;
  gap: 24px;
}

.differences h2 {
  text-align: center;
  color: var(--COLOR-1);
  font-size: 2rem;
}

.differences-card {
  background-color: var(--GRAY-3);
  padding: 1rem 1.5rem;
  border-radius: 16px;
  display: grid;
  gap: 12px;
  border: 4px solid var(--GRAY-4);
  box-shadow: 4px 4px var(--GRAY-4);
  transition: all 0.3s;
}

.differences-card-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.differences-card h3 {
  color: #000;
  font-size: 1.33rem;
}

.differences-card img {
  padding: 16px;
  transition: all 0.3s;
}

.differences-card p {
  color: #000;
  display: none;
}

/* DIFFERENCES-CARD ODD */

.differences-card:nth-child(odd) {
  background-color: var(--GRAY-1);
  border: 4px solid var(--GRAY-2);
  box-shadow: 4px 4px var(--GRAY-2);
}

/* ACTIVE DIFFERENCES CARD */
.differences-card.active {
  transition: all 0.3s;
}

.differences-card.active p {
  display: inline-block;
  font-size: 1.1rem;
}

.differences-card.active img {
  transform: rotate(180deg);
  transition: all 0.3s;
}

/* CONTACT */

.contact {
  margin-top: 80px;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: var(--COLOR-2);
}

.contact h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--COLOR-1);
}

.form {
  margin-top: 24px;
  display: grid;
}

.form label {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--GRAY-5);
  margin-top: 1rem;
}

.form div:first-child label:first-child {
  margin-top: 0;
}
.form input,
.form textarea {
  font-size: 1.1rem;
  color: var(--GRAY-5);
  padding: 8px 0;
  text-indent: 8px;
  border-radius: 8px;
  border: 2px solid var(--GRAY-6);
  box-shadow: 4px 4px var(--GRAY-6);
  transition: all 0.3s;
  resize: none;
  margin-top: 8px;
  width: 100%;
}

.form input:hover,
.form textarea:hover {
  box-shadow: 8px 8px var(--GRAY-6);
}

.form input:focus,
.form textarea:focus {
  border: 2px solid var(--COLOR-1);
  box-shadow: 8px 8px var(--COLOR-1);
  transition: all 0.3s;
}

.form button {
  font-size: 1.25rem;
  margin: 16px 0;
  padding: 16px;
  background-color: var(--COLOR-3);
  border: 2px solid var(--COLOR-2);
  box-shadow: 4px 4px var(--COLOR-1);
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.form button:focus,
.form button:hover {
  letter-spacing: 2px;
  font-weight: 900;
  box-shadow: 8px 8px var(--COLOR-1);
  transition: all 0.3s;
}

.map {
  border-radius: 16px;
  width: 100%;
  margin-top: 16px;
}

.address {
  font-size: 1.33rem;
  text-align: center;
  margin-top: 8px;
  color: var(--GRAY-5);
}

/* LARGE MOBILE */

@media screen and (min-width: 400px) {
  .intro-text {
    top: 33%;
  }
}

/* TABLETS */

@media screen and (min-width: 750px) {
  .container {
    max-width: 650px;
  }

  .product-container-card {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 24px;
  }

  .differences-card img {
    padding: 8px;
  }

  .form {
    justify-items: center;
  }

  .form div {
    width: 100%;
  }

  .form label {
    font-size: 1.33rem;
  }

  .form input,
  .form textarea {
    font-size: 1.25rem;
  }

  .form textarea {
    height: 100px;
  }

  .form button {
    max-width: 150px;
    justify-self: center;
  }
}

/* LAPTOPS */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }

  .logo {
    font-size: 2.5rem;
  }

  .header nav {
    width: auto;
    height: auto;
  }

  .header ul {
    display: flex;
  }

  .header li a {
    opacity: 1;
    font-size: 1.33rem;
    color: var(--GRAY-6);
    transition: all 0.3s;
    padding: 0.5rem 0.75rem;
  }

  .header li a:hover {
    transition: all 0.3s;
    letter-spacing: 1px;
    font-weight: 800;
  }

  .header li:last-child a {
    color: var(--COLOR-4);
    letter-spacing: 1px;
    padding-right: 0;
  }

  .header li:last-child:hover a {
    transition: all 0.3s;
    letter-spacing: 2px;
  }

  .header ul::before,
  .header li:first-child::after,
  .header li:first-child::before {
    height: 0;
  }

  .intro-img {
    height: 750px;
  }

  .intro-text h1 {
    font-size: 6rem;
  }

  .intro-text p {
    font-size: 2rem;
  }

  .about-MVV {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
  }

  .about-card + .about-card::before {
    height: 0px;
  }

  .product-card h3 {
    text-align: center;
  }

  .product-card img {
    display: inline-block;
    border-radius: 16px;
    margin-top: 1rem;
    height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .differences-card p {
    max-width: 75ch;
    margin-left: 1rem;
  }

  .form {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 0 2rem;
  }

  .form label {
    font-size: 1.33rem;
  }

  .form label:first-child {
    margin-top: 0;
  }

  .form textarea {
    height: 220px;
  }

  .form button {
    grid-column: 1/-1;
    margin-top: 32px;
  }
}
