/* CSS RESET */

* {
  margin: 0;
  padding: 0;
}

/* GLOBAL */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

/* VARIABLES */
:root {
  --COLOR-1: #ad8b73;
  --COLOR-2: #ceab93;
  --COLOR-3: #e3caa5;
  --COLOR-4: #fffbe9;
}

/* HEADER */

.header {
  background-color: var(--COLOR-2);
  height: 64px;
}

.header div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cookie";
  font-size: 2rem;
}

.header nav {
  position: relative;
}

.header ul {
  display: flex;
  align-items: center;
}

.header ul,
.header ul::after,
.header ul::before {
  content: "";
  background-color: #000;
  width: 32px;
  height: 2px;
  position: absolute;
  right: 0;
}

.header ul::after {
  top: 10px;
}

.header ul::before {
  top: -10px;
}

.header li {
  opacity: 0;
}

.header li a {
  display: none;
}
