/* CSS RESET */

* {
  margin: 0;
  padding: 0;
}

/* GLOBAL */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

/* VARIABLES */
:root {
  --COLOR-1: #ad8b73;
  --COLOR-2: #ceab93;
  --COLOR-3: #e3caa5;
  --COLOR-4: #fffbe9;
  --GRAY-1: #ebe9e4;
  --GRAY-2: #b8b7b2;
  --GRAY-3: #999894;
  --GRAY-4: #73726f;
  --GRAY-5: #4d4c4a;
  --GRAY-6: #333331;
}

/* HEADER */

.header {
  background-color: var(--COLOR-2);
  height: 64px;
}

.header div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Cookie";
  font-size: 2rem;
}

.header nav {
  width: 32px;
  height: 32px;
  position: relative;
}

/* MENU HAMBURGUER */

.header ul {
  transition: all 0.3s;
}

.header li a {
  opacity: 0;
  font-family: "Merriweather";
}

.header ul::before,
.header li:first-child::after,
.header li:first-child::before {
  content: "";
  transition: all 0.3s;
  background-color: #000;
  width: 32px;
  height: 2px;
  position: absolute;
  right: 0;
}

.header ul::before {
  top: 6px;
}

.header li:first-child::before {
  top: 14px;
}

.header li:first-child::after {
  top: 22px;
}

/* ACTIVE MENU HAMBURGUER */

.header .active ul {
  background-color: var(--COLOR-4);
  margin-top: 48px;
  width: 120px;
  display: grid;
  justify-content: center;
  transition: all 0.3s;
  position: absolute;
  right: 0px;
}

.header .active ul li {
  background-color: rgba(0, 0, 0, 0);
  height: 32px;
  padding-top: 12px;
}

.header .active ul::before {
  width: 0;
}

.header .active li:first-child::after {
  transition: all 0.3s;
  rotate: 45deg;
  background-color: var(--COLOR-4);
  top: -36px;
  width: 40px;
  height: 4px;
}

.header .active li:first-child::before {
  rotate: -45deg;
  width: 40px;
  top: -36px;
  height: 4px;
  background-color: var(--COLOR-4);
}

.header .active li a {
  opacity: 1;
  transition: all 0.3s;
  position: relative;
}

.header .active li a::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  left: 0;
  background-color: #b99;
  bottom: -8px;
}

.header .active li:last-child a::after {
  height: 0;
}

.header .active li a:hover {
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

/* INTRO */

.intro {
  position: relative;
}

.intro-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  filter: brightness(45%);
}

.intro-text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 33%;
  left: 10%;
}

.intro-text h1 {
  font-family: "Cookie";
  font-size: 4rem;
  color: var(--COLOR-4);
}

.intro-text p {
  font-family: "Merriweather";
  color: var(--GRAY-2);
  font-size: 1.33rem;
}

/* TABLETS */

@media screen and (min-width: 750px) {
  .container {
    max-width: 650px;
  }
}

/* LAPTOPS */

@media screen and (min-width: 1000px) {
  .container {
    max-width: 950px;
  }

  .logo {
    font-size: 2.5rem;
  }

  .header nav {
    width: auto;
    height: auto;
  }

  .header ul {
    display: flex;
  }

  .header li a {
    opacity: 1;
    font-size: 1.33rem;
    color: var(--GRAY-6);
    transition: all 0.3s;
    padding: 0.5rem 0.75rem;
  }

  .header li a:hover {
    transition: all 0.3s;
    letter-spacing: 1px;
    font-weight: 800;
  }

  .header li:last-child a {
    color: var(--COLOR-4);
    letter-spacing: 1px;
    padding-right: 0;
  }

  .header li:last-child:hover a {
    transition: all 0.3s;
    letter-spacing: 2px;
  }

  .header ul::before,
  .header li:first-child::after,
  .header li:first-child::before {
    height: 0;
  }
}
